NET "lcd_rw"	LOC = P123;
NET "lcd_e"		LOC = P121;
NET "lcd_rs"	LOC = P122;

NET "data[0]" LOC = P113;
NET "data[1]" LOC = P114;
NET "data[2]" LOC = P115;
NET "data[3]" LOC = P116;
NET "data[4]" LOC = P117;
NET "data[5]" LOC = P118;
NET "data[6]" LOC = P119;
NET "data[7]" LOC = P120;
