//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 28 11:58:29 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "P121" LEVEL 1;
COMP "B" LOCATE = SITE "P120" LEVEL 1;
COMP "C" LOCATE = SITE "P119" LEVEL 1;
SCHEMATIC END;

